@import "src/app/styles/var.scss";

.context-menu{
    position: relative;
    .item{
        position: relative;
        background-color: $background-light;
        color: $text1;
        padding: .2rem .5rem;
        border:solid 2px $text1;
        border-bottom: none;

        &:last-child{
            border-bottom: solid 2px $text1;
        }

        &:hover{
            background-color: $background;
            cursor: pointer;
        }
    }

    .sub-menu{
        position: absolute;
        top: -1px;
        left: calc(100%);
    }
}