footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    div{
        height: 100%;
    }
    img{
        height: 100px;
    }
    ul{
        padding-top: .5rem;
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}