<footer>
    <img src="assets/logo.svg" alt="">
    <div>
        <h3>Resources</h3>
        <ul>
            <li><a routerLink="/credits">Credits</a></li>
            <li><a href="https://iconify.design/">Icons</a></li>
        </ul>
    </div>
    <div>
        <h3>Privacy</h3>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
    <div>
        <h3>About</h3>
        <ul>
            <li><a href="https://heargo.dev">Me</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
    <div>
        <h3>Open source</h3>
        <ul>
            <li><a href="https://github.com/Heargo/RPGManager">Web app</a></li>
            <li><a href="https://github.com/Heargo/RPGManager-back">API</a></li>
            <li><a href="https://appwrite.io/">Appwrite</a></li>
        </ul>
    </div>
</footer>