<div [ngClass]="{'big-preview':bigPreview}" class="preview" [ngStyle]="{'background-image': 'url(' + GetImageUrlPreview() + ')'}">
    <div class="top-shadow">
        <div>
            <button (click)="showOptions=!showOptions">
                <img src="assets/icons/dots.svg" alt="">
            </button>
            <ul *ngIf="showOptions">
                <li *ngIf="!isHost()" (click)="LeaveGame()">Leave</li>
                <li *ngIf="isHost()" (click)="DeleteGame()">Delete</li>
                <li (click)="GetPlayers()">get players</li>
            </ul>
        </div>
    </div>
    <button class="play-button" (click)="ConnectToGame()">
        <img src="assets/icons/play.svg" alt="">
    </button>
    <div class="bottom-shadow">{{game.name}}</div>
</div>
