<div class="flex-col diceRoll">
    <div class="settings flex-row">
        <input class="number" type="text" [(ngModel)]="diceNumber" [ngStyle]="{'width':getSize(diceNumber)}">
        <p>d</p>
        <input class="faces" type="text" [(ngModel)]="diceFaces" [ngStyle]="{'width':getSize(diceFaces)}">
        <p *ngIf="rolls.length>0">= {{getSum()}}</p>
    </div>
    <div *ngIf="rolls.length>1" class="details flex-row">
        <p *ngFor="let roll of rolls">{{roll}}</p>
    </div>
    <button (click)="onRollClick()">Roll</button>
</div>
