@import "src/app/styles/var.scss";


section{
    height: calc(100vh - $nav-height - 1rem);
    margin-top: $nav-height;
    padding-top: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}


.inactive{
    display: none;
}

.form{
    width: 50%;
    height: calc(100% - 1rem);
    max-width: 800px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .3rem;
    margin: 1rem;

    .content form{
        height: calc(100% - 2rem);
        justify-content: flex-start;
        padding: 1rem;
    }

    .flex-row{
        width: 100%;
    }

    #first-part, #second-part{
        justify-content: flex-start;
        align-items: flex-start;
    }

    #first-part{
        height: 20%;
        align-items: flex-start;
        .item-image{
            height: 100%;
            img{
                border-radius: 10px;
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }

        #itemImage{
            display: none;
        }

        div{
            width: 70%;
            max-width: 400px;
            align-items: flex-start;

            app-drop-down{
                width: 100%;
            }

            // input,app-drop-down{
            //     border:solid 2px $text1;
            // }
            
        }
    }


    #second-part{
        height: 10%;
        app-drop-down{
            width: 70%;
        }
        input{
            width: 30%;
        }
    }

    #third-part{
        justify-content: flex-start;
        height: 70%;
        width: 100%;

        textarea{
            height: 5rem;
            font-size: .8rem;
            font-weight: 600;
            border:solid 2px $text1;
        }

        h3{
            background-color: $text1;
            color: $background;
            width: calc(100% - 1rem);
            padding:.2rem .5rem;
            font-weight: 400;
        }

        .new-attribute{

            app-drop-down{
                width: 70%;
            }
            input{
                width: 30%;
            }

            button{
                color: $text1;
                background-color: transparent;
                border:0;
                outline:none;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .attributes-container{
            width: 100%;
            height: 40%;
            justify-content: flex-start;
            gap:0rem;
            overflow-y: scroll;
        }

        .attributes{
            width: calc(100% - 1rem);
            justify-content: space-between;
            padding: .2rem .5rem;
            
        
            p{
                font-size: 1rem;
                width:50%;
                max-width: 300px;
                font-weight: bold;
                &.num{
                    width:30%;
                    max-width: 120px;
                    color:$green;
                }

                &.debuff{
                    color:$red;
                }
            }
        
            &:nth-child(odd){
                background-color: $background-light;
            }
        
            img{
                width: 1rem;
                height: 1rem;
                cursor: pointer;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
    
    .tabs{
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        gap:.5rem;

        button{
            background-color: $background;
            border: 2px solid $text1;
            padding: .2rem;
            cursor: pointer;
            
            &:hover{
                background-color: $text1;
                color: $background;
            }
            &.active{
                background-color: $text1;
                color: $background;
            }
        }
    }

    .content{
        width: 100%;
        max-width:500px;
        height: calc(100% - 50px);
        border: solid 2px $text1;
    }

    textarea{
        background-color: $background-light;
        padding: .5rem;
        width: calc(100% - 1rem);
        height: calc(100% - 1rem);
        border: 0;
        color:$text1;
        resize: none;
        font-size: 1.2rem;
    }
}


.ai{
    padding:1rem;
    align-items: flex-start;
}


.preview{
    width: 50%;
    margin:1rem;
    max-width: calc(400px + 1rem);
    justify-content: flex-start;
    align-items: flex-start;
    gap: .3rem;
    p{
        font-size: 1.2rem;
        padding-left: .3rem;
    }
    app-item-preview{
        width: 100%;
        max-width: 400px;
        display: block;
    }
}

