<section [ngClass]="{'playerUI':!isMJ}" class="flex-row">
    
    <div class="flex-col left-panel">
        <!--List of players -->
        <h3 *ngIf="isMJ">Players</h3>
        <div *ngIf="isMJ" class="flex-col player-list">
            <app-player-preview *ngFor="let player of playerList" [player]="player" (click)="selectPlayer(player)"></app-player-preview>
        </div>
        <!-- player details [COMPONENT] -->
        <app-player-details *ngIf="selectedPlayer!=null" [player]="selectedPlayer" [isMJ]="isMJ"></app-player-details>
        <!-- Life & mana bar -->
        <div *ngIf="!isMJ" class="playerBar">
            <div class="flex-row ">
                <p>{{AttributeProgress(lifeAttribute).display}}</p>
                <div class="bar" ><span [ngStyle]="{width:AttributeProgress(lifeAttribute).prct+'%'}"></span></div>
            </div>
            <div class="flex-row">
                <p>{{AttributeProgress(manaAttribute).display}}</p>
                <div class="mana bar" ><span [ngStyle]="{width:AttributeProgress(manaAttribute).prct+'%'}"></span></div>
            </div>
        </div>
        <app-dice *ngIf="!isMJ"></app-dice>
    </div>
    <div class="flex-col center">
        <!-- current illustration -->
        <img class="current-illustration" [src]="illustration" alt="">
        <div class="quick-changes flex-row" *ngIf="isMJ">
            <div class="card" *ngFor="let img of quickImages" (click)="onQuickImageClick($event,img)">
                <img [src]="img.url"  alt="quick image" >
                <img class="upload-icon" src="assets/icons/upload.svg" alt="">
            </div>
            <label class="card" for="newQuickImage"><img src="assets/icons/add.svg" alt=""></label>
            <input type="file" id="newQuickImage" (change)="onAddQuickImage($event)">
        </div>

    </div>

    <div *ngIf="isMJ" class="flex-col right-panel">
        <textarea (change)="onNotesChange($event)">{{userNotes}}</textarea> 
        <app-dice></app-dice>
    </div>
</section>
