@import 'src/app/styles/var.scss';

section{
    height:calc(100vh - #{$nav-height});
    padding-top: $nav-height;
}

.left-panel, .right-panel{
    height:calc(100% - 2rem);//calc(100vh - #{$nav-height});
    padding: 1rem;
}

.left-panel{
    width: 20%;
    padding-right: 0;
}

.right-panel{
    width: 15%;
    padding-left: 0;
    justify-content: flex-start;
}


.player-list{
    align-items: flex-start;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}

app-player-details{
    height: 50%;
    width: 100%;
    background-color: $text1-50;
}

app-dice{
    width: 100%;
}

.center{
    width: 65%;
    height:calc(100% - 2rem);
    padding: 1rem 0;
    .current-illustration{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .quick-changes{
        height: 100px;
        width: 100%;
    }

    .card{
        position: relative;
        height: 80px;
        width: 150px;
        background-color: $text1-07;
        border: none;
        color: $text1;
        cursor: pointer;
        transition: all .2s ease-in-out;
        opacity: .7;
        border-radius: 5px;
        &:hover{
            opacity: 1;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }

        .upload-icon{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            background-color: $background-60;
            border-radius: 50%;
            padding: .7rem;
        }
    }
    label.card{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 40%;
            height: 40%;
            object-fit: initial;
        }
    }

    input{
        display: none;
    }
}

.right-panel{
    textarea{
        height: 80%;
        width: calc(100% - 1rem);
        resize: none;
        background-color: $background-light;
        border:solid 2px $text1;
        padding: .5rem;

    }
}