<section class="flex-row">
    
    <div class="flex-col left-panel">
        <!--List of players -->
        <div *ngIf="isMJ" class="flex-col player-list">
            <h3>Players</h3>
            <app-player-preview *ngFor="let player of playerList" [player]="player"></app-player-preview>
        </div>
        <!-- player details [COMPONENT] -->
        <app-player-details></app-player-details>
        <!-- if player notes -->
        <!-- if player roll dice [COMPONENT] -->
    </div>
    <div class="flex-col center">
        <!-- current illustration -->
        <img class="current-illustration" [src]="illustration" alt="">
        <div class="quick-changes flex-row" *ngIf="isMJ">
            <div class="card" *ngFor="let img of quickImages" (click)="onQuickImageClick($event,img)">
                <img [src]="img.url"  alt="quick image" >
                <img class="upload-icon" src="assets/icons/upload.svg" alt="">
            </div>
            <label class="card" for="newQuickImage"><img src="assets/icons/add.svg" alt=""></label>
            <input type="file" id="newQuickImage" (change)="onAddQuickImage($event)">
        </div>

    </div>

    <div *ngIf="isMJ" class="flex-col right-panel">
        <textarea (change)="onNotesChange($event)">{{userNotes}}</textarea> 
        <p>DICE COMPONENT</p>
    </div>
</section>
