<section class="flex-col">
<div class="categorie flex-col">
    <h2>Maps</h2>
    <div class="flex-row cards">
        <div (click)="onOpenNewTab('https://watabou.github.io/')" class="card flex-col">
            <img src="assets/illustrations/watabou.png" alt="watabou">
            <div class="link flex-row">
                <img class="" src="assets/icons/link-external-fill.svg" alt="">
            </div>
            <p>Watabou's Procgen Arcana</p>
        </div>
        <div (click)="onOpenNewTab('https://azgaar.github.io/Fantasy-Map-Generator/')" class="card flex-col">
            <img src="assets/illustrations/azgaar.jpeg" alt="azgaar">
            <div class="link flex-row">
                <img class="" src="assets/icons/link-external-fill.svg" alt="">
            </div>
            <p>Azgaar's Fantasy Map Generator</p>
        </div>
    </div>
</div>
</section>
