<section class="flex-row">
    <div class="flex-col left">
        <img class="player-image" [src]="playerPortrait" alt="player portait">
        <div class="equipment">
            <div *ngFor="let item of getEquippedItems()">
                <img *ngIf="!isItemEquipped(item)" src="assets/icons/inventory/{{item}}.svg" alt="{{item}} slot">
                <app-item-small-preview *ngIf="isItemEquipped(item)" (click)="onToggleContextMenu($event,item)" (contextmenu)="onToggleContextMenu($event,item)" [item]="item"></app-item-small-preview>
            </div>
        </div>
    </div>
    <div class="flex-col right">
        <h3>{{player?.name}}</h3>
        <div class="stats">
            <div class="flex-row stat" *ngFor="let atr of player?.attributes">
                <p> {{atr.name}}</p>  
                <div class="flex-row interractables">
                    <input value="{{atr.valueAddition + atr.baseValue}}" (change)="onAttributeChange($event,atr)"> 
                    <img src="assets/icons/pin.svg" alt="">
                </div>
            </div>
        </div>
        <div class="statsPoint flex-row">
            <p *ngIf="!isMJ">Availaible stats point : {{GetAvailablePlayerStatPoints()}}</p>
            <div *ngIf="isMJ" class="flex-row">
                <p>{{player?.statPoints}} stats point</p>
                <input type="text" #val>
                <button (click)="AddStatPoint(val)">+</button>
            </div>

        </div>
        <div class="inventory">
            <div *ngFor="let item of getInventory()" class="item">
                <img *ngIf="item==null" src="assets/icons/inventory/empty.svg" alt="">
                <app-item-small-preview (click)="onToggleContextMenu($event,item)" (contextmenu)="onToggleContextMenu($event,item)" *ngIf="item!=null" [item]="item"></app-item-small-preview>
            </div>
            <app-context-menu (mouseleave)="contextMenuVisible=false" *ngIf="contextMenuVisible" [menu]="contextMenu" [ngStyle]="contextMenuStyle" class="context-menu" ></app-context-menu>
        </div>
        <div class="flex-row money" [innerHTML]="PlayerMoney()">
        </div>
    </div>
    <div class="item-preview" *ngIf="viewItemPreview && selectedItem ">
        <app-item-preview [item]="selectedItem" [ngStyle]="previewMenuStyle"></app-item-preview>
        <img class="close" src="assets/icons/close.svg" alt="" (click)="viewItemPreview=false">
    </div>
</section>
