<section class="flex-row">
    <div class="flex-col half form-container">
        <div class="flex-row basic-infos">
            <label class="icon-label" for="icon"><img  [src]="getUrlPreview()" alt=""></label>
            <input id="icon" type="file" (change)="onIconChange($event)">
            <input type="text" placeholder="Enter your world name here" [(ngModel)]="game.name">
        </div>
        <div class="flex-col options">
            <!-- description -->
            <h3 [ngClass]="{'active': accordions.description}" (click)="accordions.description = !accordions.description">Description</h3>
            <textarea *ngIf="accordions.description" placeholder="Enter your world description here"></textarea>
            <!-- game attributes -->
            <h3 [ngClass]="{'active': accordions.attributes}" (click)="accordions.attributes = !accordions.attributes">Attributes</h3>
            <div *ngIf="accordions.attributes" class="flex-col attributes-container">

                <div  class="new-attribute flex-row">
                    <input type="text" placeholder="Name" [(ngModel)]="attributeName">
                    <input class="num" type="text" placeholder="Default value" [(ngModel)]="attributeDefaultValue">
                    <button (click)="onAddAttribute()">+</button>
                </div>
                <div *ngFor="let attribute of game.attributes" class="attributes flex-row">
                    <p>{{attribute.name}}</p>
                    <p class="num">{{attribute.baseValue}}</p>
                    <img (click)="onDeleteAttribute(attribute.name)" src="assets/icons/bin.svg" alt="">
                </div>
            </div>
            <!-- start stats points & -->
            <h3 [ngClass]="{'active': accordions.other}" (click)="accordions.other = !accordions.other">Other</h3>
            <div *ngIf="accordions.other" class="flex-col other">
                <div class="flex-row">
                    <label for="startStats">Starting amount of stats points</label>
                    <input id="startStats" type="text" placeholder="stat points" [(ngModel)]="game.baseStatPoints">
                </div>
                <div class="flex-row">
                    <label for="startMoney">Start money</label>
                    <input id="startMoney" type="text" placeholder="money" [(ngModel)]="game.baseMoney">
                </div>
            </div>
        </div>
        <button [ngClass]="{'disabled':!isValidGame()}" class="black-btn create-btn" (click)="onCreateGame()">Create</button>
    </div>
    <div class="flex-col half preview-container">
        <h3>Preview</h3>
        <app-game-preview [game]="game" [bigPreview]="true" ></app-game-preview>
        <button [ngClass]="{'disabled':!isValidGame()}" class="black-btn" (click)="onCreateGame()">Create</button>
    </div>
</section>
