<section>
    <h2>ACCOUNT</h2>
    <div class="content">
        <p class="email-preview">{{GetUserEmail()}}</p>
        
        <form>
            <p>Change email</p>
            <input type="email" placeholder="email">    
            <button class="black-btn small">Change email</button>
        </form>
        
        <form>
            <p>Change Password</p>
            <input type="password" placeholder="password">    
            <input type="password" placeholder="confirm password">  
            <button class="black-btn small">Change password</button>
        </form>
        
        <button class="black-btn big" (click)="onLogout()">Logout</button>

    </div>
</section>

<section class="danger-zone">
    <h2>DANGER ZONE</h2>
    <div class="content">
        <button class="black-btn big">DELETE ACCOUNT</button>
    </div>
</section>
