@import "../../styles/var.scss";

nav{
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;

    div{
        display:flex;
        align-items: center;
    }

    a,p{
        margin: 0 10px;
        text-decoration: none;
    }
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
}

.left{
    p{
        font-size: .7rem;
        color:$background;
        background-color: $red;
        padding: 5px 10px;
        border-radius: 10px;

    }
}