<nav>
    <!-- Logo & user type -->
    <div class="left">
        <a *ngIf="!isInGame()" routerLink="/" class="logo" >RPG manager</a>
        <a *ngIf="isInGame()" class="logo" >RPG manager</a>
        <p *ngIf="isInGame() && isMJ()">MJ</p>
        <p *ngIf="isInGame() && !isMJ()">Player</p>
    </div>

    <!-- Connected -->
    <div class="right content" [ngClass]="{'active':phoneMenuOpen}" >
        <a *ngIf="!isConnected()" (click)="phoneMenuOpen=false" routerLink="/login" routerLinkActive="active" class="hover-scale" >Login</a>
        <a *ngIf="!isConnected()" (click)="phoneMenuOpen=false" routerLink="/signup" routerLinkActive="active" class="black-btn hover-scale">Sign-up</a>
        <a *ngIf="isConnected() && !isInGame()" (click)="phoneMenuOpen=false" routerLink="/games" routerLinkActive="active">My games</a>
        <a *ngIf="isInGame()" (click)="phoneMenuOpen=false" routerLink="/game" routerLinkActive="active">Game</a>
        <!-- <a *ngIf="isMJ()" (click)="phoneMenuOpen=false" routerLinkActive="active">NPCS</a> -->
        <a *ngIf="isMJ()" (click)="phoneMenuOpen=false" routerLink="/items" routerLinkActive="active">Items</a>
        <a *ngIf="isConnected()" (click)="phoneMenuOpen=false" routerLink="/tools" routerLinkActive="active">Tools</a>
        <a *ngIf="isInGame()" (click)="phoneMenuOpen=false" routerLink="/games" routerLinkActive="active" (click)='ExitGame()' >Exit</a>
        <a *ngIf="isConnected()" (click)="phoneMenuOpen=false" routerLink="/settings" routerLinkActive="active">Settings</a>
    </div>
    <div class="right nav-icon" >
        <img *ngIf="!phoneMenuOpen" (click)="phoneMenuOpen=true"  src="assets/icons/navbar.svg" alt="open menu">
        <img *ngIf="phoneMenuOpen" (click)="phoneMenuOpen=false"  src="assets/icons/close.svg" alt="close menu">
    </div>
</nav>
