<nav>
    <!-- Logo & user type -->
    <div class="left">
        <a *ngIf="!isInGame()" routerLink="/" class="logo" >RPG manager</a>
        <a *ngIf="isInGame()" class="logo" >RPG manager</a>
        <p *ngIf="isInGame() && isMJ()">MJ</p>
        <p *ngIf="isInGame() && !isMJ()">Player</p>
    </div>

    <!-- Not connected -->
    <div *ngIf="!isConnected()" class="right">
        <a routerLink="/login" routerLinkActive="active" class="hover-scale" >Login</a>
        <a routerLink="/signup" routerLinkActive="active" class="black-btn hover-scale">Sign-up</a>
    </div>
    
    <!-- Connected -->
    <div *ngIf="isConnected()" class="right">
        <a *ngIf="!isInGame()" routerLink="/games" routerLinkActive="active">My games</a>
        <a *ngIf="isInGame()" routerLink="/game" routerLinkActive="active">Game</a>
        <div *ngIf="isMJ()" >
            <a routerLinkActive="active">NPCS</a>
            <a routerLink="/items" routerLinkActive="active">Items</a>
        </div>
        <a *ngIf="isInGame()" routerLink="/games" routerLinkActive="active" (click)='ExitGame()' >Exit</a>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </div>
</nav>
