<div class="player-preview flex-row">
    <img [src]="GetPlayerImage()" alt="{{player.name +' portrait'}}">
    <div class="data flex-col">
        <h3>{{player.name}}</h3>
        <div class="bar-container flex-col">
            <p>{{GetAttributeProgress(lifeAttribute).display}}</p> 
            <div class="life bar"><span [ngStyle]="{width:GetAttributeProgress(lifeAttribute).prct}"></span></div>
        </div>
        <div class="bar-container flex-col">
            <p>{{GetAttributeProgress(manaAttribute).display}}</p>
            <div class="mana bar" ><span [ngStyle]="{width:GetAttributeProgress(manaAttribute).prct+'%'}"></span></div>
        </div>
    </div>
</div>