@import '../../styles/var.scss';

section{
    gap: 2rem;
    flex-wrap: wrap;
    min-height: calc(100vh - 150px);

    padding-top: 50px;
    // margin-bottom: 100px;
    padding-bottom:100px;
    border-radius: 2px red;

    .info-empty{
        padding: 1rem;
    }
}

.actions-container{
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    input{
        padding: .2rem .5rem;
        width: 50%;
        max-width: 200px;
        background-color: $background-light;
    }
}

.no-games{
    width: calc(100% - 1rem);
    max-width: 700px;
}