<section class="flex-col">

    <h1>Privacy Policy</h1>
    <p>This privacy policy sets out how our website uses and protects any information that you give us when you use this website.
        As this is a personal/learning project do not upload personal/sensitive informations or pictures.
    </p>
    
    <h2>Information We Collect</h2>
    <p>We only collect the informations necessary to the operation of the website.
        This include informations to create account, games, item, character etc...
    </p>
    
    <h2>How We Use Cookies</h2>
    <p>We only use cookies that are strictly necessary for the operation of the website (for authentifications).</p>
    
    <h2>Security</h2>
    <p>We are committed to ensuring that your information is secure. 
        Passwords are encrypted using Appwrite standards, the chosen backend provider.
    </p>
    
    <h2>Links to Other Websites</h2>
    <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site,
        you should note that we do not have any control over that other website.
        Therefore, we cannot be responsible for the protection and privacy of any information which you provide while visiting
        such sites and such sites are not governed by this privacy statement.
    </p>
    
    <h2>Selling informations</h2>
    <p>We do not sell or provide any informations to third parties</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about this privacy policy, please contact us.</p>
    
</section>
