<section class="flex-col">
    <div class="flex-row search-options">
        <div class="flex-row left">
            <input type="text" placeholder="search" class="search">
            <!-- select rarity -->
            <div class="select rarity">
                <select>
                    <option selected>- Rarity -</option>
                    <option *ngFor="let rarity of ItemRarityValues" [value]="rarity">{{rarity}}</option>
                </select>
                <div class="select_arrow">
                </div>
            </div>
            <!-- select type -->
            <div class="select type">
                <select>
                    <option selected>- Type -</option>
                    <option *ngFor="let type of ItemTypesValues" [value]="type">{{type}}</option>
                </select>
                <div class="select_arrow">
                </div>
            </div>
            <!-- price range -->
            <div class="flex-row price">
                <p>price</p>
                <input type="text">
                <input type="text">
            </div>
        </div>

        <a class="black-btn">Create item</a>
    </div>
    <div class="item-list flex-row">
        <p *ngFor="let item of GetItems()">{{item.id}}</p>
    </div>
</section>
