<section class="flex-col">
    <div class="flex-row search-options">
        <div class="flex-row left">
            <input type="text" placeholder="search" class="search">
            <!-- select rarity & type -->
            <app-drop-down class="rarity" [options]="ItemRarityValues" [defaultOption]="'Rarity'"></app-drop-down>
            <app-drop-down class="rarity" [options]="ItemTypesValues" [defaultOption]="'Type'"></app-drop-down>
            <!-- price range -->
            <div class="flex-row price">
                <p>price</p>
                <input type="text">
                <input type="text">
            </div>
        </div>

        <a class="black-btn" routerLink="/create-item" routerLinkActive="active">Create item</a>
    </div>
    <div class="item-list flex-row">
        <div *ngFor="let item of loadedItems" class="item-icon">
            <img [src]="GetImageUrl(item)" [alt]="item.name" [ngStyle]="{borderColor:GetRarityColor(item.rarity)}">
        </div>
    </div>
</section>
