/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap');
@import "app/styles/var.scss";

body {
  font-family: 'Recursive', sans-serif;
  background-color: $background;
  scroll-behavior: smooth;
}

*{
  color: $text1;
  margin: 0;
  padding: 0;
}

.black-btn{
  color: $background;
  background-color: $text1;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  //disabled
  &.disabled{
    opacity: 0.5;
    cursor:default;
  }
}

.hover-scale{
  transition: ease 0.2s;
  &:hover{
    transform: scale(1.05);
  }
}


.fixed-logo-left{
  position: fixed;
  left: 10px;
  top: 10px;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}

.fullscreen-center{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;  
  gap:1rem;
}

input{
  border: none;
  border: 1px solid $text1;
  background-color: transparent;
  color: $text1;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  width: 100%;
}

input[type="submit"], button[type="submit"]{
  background-color: $text1;
  color: $background;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  outline: none;
  border: 0;
  border-radius: 10px;
  cursor: pointer;

  //disabled
  &:disabled,&[disabled]{
    opacity: 0.5;
    cursor:default;
  }
}


.flex-row, .flex-col{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-col{
  flex-direction: column;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.bar{
  position: relative;
  justify-content:flex-start;
  align-items: center;
  background-color: $background-60;
  height: .5rem;
  border-radius: 2px;
  width: 60%;
  
  span{
      //display: none;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $red;
      height: 100%;
      width: 100%;
      border-radius: 2px;
  }

  &.mana{
      // width: 65%;
      // height: .4rem;
      // font-size: .7rem;
      span{
          background-color: $blue;
      }
  }
}